<h1 style="color:black; font-size:50px; font-family:Impact, Charcoal, sans-serif; 
           text-align:center;">Malaysian Population From Year 2010 to 2019 (Est.)</h1>
<h3>Prepared By: <a href='https://zzahir1978.github.io'>Zahiruddin Zahidanishah</a></h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import dataframe_image as dfi
import adjustText as aT
from jupyterthemes import jtplot
#import requests
import cufflinks as cf
#from bs4 import BeautifulSoup as bs
jtplot.style(theme='monokai', context='notebook', ticks=True, grid=False) 
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot 
init_notebook_mode(connected=True)
cf.go_offline()

from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [2]:
df = pd.read_csv('Number of households by state Malaysia 2010 - 2020_dataset.csv')
df['Number of households'] = df['Number of households (000)'] * 1000 
df = df[['Country/State','Year','Number of households']]
df.rename(columns={'Country/State':'States'},inplace=True)
df = df[df.States != 'Malaysia']

In [3]:
df_2010 = df[df.Year == 2010]
df_2010 = df_2010[['States','Number of households']]
df_2011 = df[df.Year == 2011]
df_2011 = df_2011[['States','Number of households']]
df_2012 = df[df.Year == 2012]
df_2012 = df_2012[['States','Number of households']]
df_2013 = df[df.Year == 2013]
df_2013 = df_2013[['States','Number of households']]
df_2014 = df[df.Year == 2014]
df_2014 = df_2014[['States','Number of households']]
df_2015 = df[df.Year == 2015]
df_2015 = df_2015[['States','Number of households']]
df_2016 = df[df.Year == 2016]
df_2016 = df_2016[['States','Number of households']]
df_2017 = df[df.Year == 2017]
df_2017 = df_2017[['States','Number of households']]
df_2018 = df[df.Year == 2018]
df_2018 = df_2018[['States','Number of households']]
df_2019 = df[df.Year == 2019]
df_2019 = df_2019[['States','Number of households']]
df_2020 = df[df.Year == 2020]
df_2020 = df_2020[['States','Number of households']]

In [4]:
df_yearly = pd.merge(df_2010,df_2011, on='States')
df_yearly.rename(columns={'Number of households_x':'2010','Number of households_y':'2011'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2012, on='States')
df_yearly.rename(columns={'Number of households':'2012'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2013, on='States')
df_yearly.rename(columns={'Number of households':'2013'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2014, on='States')
df_yearly.rename(columns={'Number of households':'2014'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2015, on='States')
df_yearly.rename(columns={'Number of households':'2015'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2016, on='States')
df_yearly.rename(columns={'Number of households':'2016'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2017, on='States')
df_yearly.rename(columns={'Number of households':'2017'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2018, on='States')
df_yearly.rename(columns={'Number of households':'2018'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2019, on='States')
df_yearly.rename(columns={'Number of households':'2019'},inplace=True)
df_yearly = pd.merge(df_yearly,df_2020, on='States')
df_yearly.rename(columns={'Number of households':'2020'},inplace=True)

In [5]:
df_yearly.loc['Malaysia'] = df_yearly.sum(numeric_only=True, axis=0)
df_yearly['States'] = df_yearly['States'].replace(np.nan, 'Malaysia')
df_yearly['2011 Inc.'] = ((df_yearly['2011'] - df_yearly['2010'])/df_yearly['2010'])*100
df_yearly['2012 Inc.'] = ((df_yearly['2012'] - df_yearly['2011'])/df_yearly['2011'])*100
df_yearly['2013 Inc.'] = ((df_yearly['2013'] - df_yearly['2012'])/df_yearly['2012'])*100
df_yearly['2014 Inc.'] = ((df_yearly['2014'] - df_yearly['2013'])/df_yearly['2013'])*100
df_yearly['2015 Inc.'] = ((df_yearly['2015'] - df_yearly['2014'])/df_yearly['2014'])*100
df_yearly['2016 Inc.'] = ((df_yearly['2016'] - df_yearly['2015'])/df_yearly['2015'])*100
df_yearly['2017 Inc.'] = ((df_yearly['2017'] - df_yearly['2016'])/df_yearly['2016'])*100
df_yearly['2018 Inc.'] = ((df_yearly['2018'] - df_yearly['2017'])/df_yearly['2017'])*100
df_yearly['2019 Inc.'] = ((df_yearly['2019'] - df_yearly['2018'])/df_yearly['2018'])*100
df_yearly['2020 Inc.'] = ((df_yearly['2020'] - df_yearly['2019'])/df_yearly['2019'])*100
df_yearly = df_yearly[['States','2010','2011 Inc.','2011','2012 Inc.','2012','2013 Inc.','2013','2014 Inc.',
                                       '2014','2015 Inc.','2015','2016 Inc.','2016','2017 Inc.','2017','2018 Inc.','2018',
                                       '2019 Inc.','2019','2020 Inc.','2020']]

df_yearly.style.set_caption("Malaysia Household By States").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-size', '20px'),
        ("text-align", "center"),
        ('text-decoration', 'underline'),
        ('font-family','Arial'),
        ('text-shadow', '2px 2px 5px grey')
    ]},(dict
        (selector='th',props=[('text-align',
                               'left')]))]).format(
    {'2010':'{:,.0f}','2011':'{:,.0f}','2012':'{:,.0f}','2013':'{:,.0f}','2014':'{:,.0f}','2015':'{:,.0f}',
     '2016':'{:,.0f}','2017':'{:,.0f}','2018':'{:,.0f}','2019':'{:,.0f}','2020':'{:,.0f}',
     '2011 Inc.':'{:,.1f}','2012 Inc.':'{:,.1f}','2013 Inc.':'{:,.1f}','2014 Inc.':'{:,.1f}','2015 Inc.':'{:,.1f}',
     '2016 Inc.':'{:,.1f}','2017 Inc.':'{:,.1f}','2018 Inc.':'{:,.1f}','2019 Inc.':'{:,.1f}','2020 Inc.':'{:,.1f}'
    }).set_properties(subset=['States'],**{'text-align': 'left'}).apply(lambda x: ['background: yellow' if x.name in ['Total'] else '' for i in x], axis=1).hide_index()

In [15]:
df_mas = df_yearly[df_yearly.States == 'Malaysia']
df_mas = df_mas[['States','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']]
#df_mas = df_mas.reset_index()
#pd.pivot_table(df_mas, index="States")
df_mas = df_mas.T
df_mas = df_mas[df_mas.Malaysia != 'Malaysia']
df_mas = df_mas.reset_index()
df_mas.rename(columns={'index':'Year','Malaysia':'Household Numbers'},inplace=True)
df_mas

    Year Household Numbers
0   2010         6621600.0
1   2011         6779500.0
2   2012         6934800.0
3   2013         7090200.0
4   2014         7244000.0
5   2015         7396900.0
6   2016         7550700.0
7   2017         7705400.0
8   2018         7860000.0
9   2019         8013100.0
10  2020         8163500.0

In [18]:
df_pop = pd.read_csv('Population_by_age_group_sex_and_ethnic_group_2010-2019e_Malaysia.csv')
df_pop['Population'] = df_pop['Population ("000)']*1000
df_pop = df_pop[['Sex','Age Group','Year','Citizen category','Ethnic','Population']]
df_pop = df_pop.groupby('Year').sum()

In [27]:
df_new = pd.merge(df_mas,df_pop, on='Year')
df_new['Household (%)'] = (df_new['Household Numbers']/df_new['Population'])*100
df_new['Household Diff'] = df_new['Household Numbers'].diff()
df_new['Population Diff'] = df_new['Population'].diff()
df_new

,Year,Household Numbers,Population,Household (%),Household Diff,Population Diff
0,2010,6621600.0,28588637.0,23.16165,NaN,NaN
1,2011,6779500.0,29061900.0,23.327793,157900.0,473263.0
2,2012,6934800.0,29509300.0,23.500388,155300.0,447400.0
3,2013,7090200.0,30214000.0,23.466605,155400.0,704700.0
4,2014,7244000.0,30708400.0,23.589637,153800.0,494400.0
5,2015,7396900.0,31186400.0,23.718352,152900.0,478000.0
6,2016,7550700.0,31633300.0,23.869467,153800.0,446900.0
7,2017,7705400.0,32022400.0,24.062531,154700.0,389100.0
8,2018,7860000.0,32382300.0,24.272519,154600.0,359900.0